---
// ./src/components/AgentSection.astro
import Button from '@components/Button';
import Heading from '@components/Heading/index.astro';
import PortableText from '@components/PortableText/index.astro';
// Props from parent
const { title, description, cta } = Astro.props as {
  title?: string;
  description?: string;
  cta?: string;
};
---

<section
  class="relative flex flex-col items-center justify-center py-150 bg-black text-center text-white"
>
  <div class="max-w-2xl px-6">
    <Heading {title} className="justify-center" />
    <div class="my-6">
      <PortableText value={description} />
    </div>

    <div class="flex justify-center">
      <Button size="large" rightIcon="path">
        {cta}
      </Button>
    </div>
  </div>
</section>
