---
import TestimonialQuote from './TestimonialQuote.astro';
import TestimonialAvatar from './TestimonialAvatar.astro';
import TestimonialAction from './TestimonialAction.tsx';
import type { SanityImageType } from '@types-local/common';

interface Testimonial {
  author: string;
  role?: string;
  image?: SanityImageType;
  quote: string;
}

interface Props {
  testimonials?: Testimonial[];
}

const { testimonials = [] } = Astro.props as Props;
---

{
  testimonials.length > 0 && (
    <section class="py-150 bg-white" id="testimonial-section">
      <div class="mx-auto text-center px-6">
        <div class="flex justify-center mb-6">
          <span class="w-336 h-1 bg-gradient-to-r from-yellow-400 to-black" />
        </div>

        <div class="relative mb-24 min-h-52 flex items-center justify-center mx-auto max-w-336">
          {testimonials.map((t, i) => (
            <TestimonialQuote quote={t.quote} index={i} />
          ))}
        </div>

        <div class="flex justify-center gap-8">
          {testimonials.map((t, i) => (
            <TestimonialAvatar t={t} index={i} />
          ))}
        </div>
      </div>
    </section>
  )
}

<TestimonialAction client:load />
