---
import BaseLayout from '@layouts/BaseLayout.astro';

import Test from '@components/Test';
---

<BaseLayout>
  <h1 class="font-body">Astro</h1>
  <p class="font-heading">This is my first line</p>
  <Test client:load />
</BaseLayout>
