---
const { title = 'Default Title' } = Astro.props;

import '@styles/global.css';
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Welcome to Your Dream Home Journey." />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Quyen Huynh" />
    <meta name="keywords" content="rent, home, keyword3" />

    <meta property="og:title" content={title} />
    <meta
      property="og:description"
      content="A brief description for social sharing."
    />
    <meta property="og:image" content="/images/og-image.jpg" />
    <meta property="og:url" content={Astro.url.href} />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta
      name="twitter:description"
      content="A brief description for Twitter."
    />
    <meta name="twitter:image" content="/images/twitter-image.jpg" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/apple-touch-icon.jpg"
    />
    <link rel="manifest" href="/site.webmanifest" />

    <title>{title}</title>
  </head>
  <body class="h-full">
    <main class="min-h-screen">
      <slot />
    </main>
  </body>
</html>
